body {
  font-family: sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}
p {
  text-align: center;
}
button, p {
  font-family: inherit;
}

/* grabbed from https://codepen.io/chirox/pen/YwqKJM */
button {
  color: #37474f;
  overflow: hidden;
  -webkit-transition: border-color 0.3s, color 0.3s;
  transition: border-color 0.3s, color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  border: 3px solid #37474f;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
  float: left;
  min-width: 150px;
  display: block;
  margin: 1em;
  padding: 1em 2em;
  background: none;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  border-radius: 8px;
}

button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  background: #37474f;
  z-index: -1;
  -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
  transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
  transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}

button:hover {
  color: #fff;
  border-color: #3f51b5;
}

button:hover::before {
  opacity: 1;
  background-color: #3f51b5;
  -webkit-transform: rotate3d(0, 0, 1, 0deg);
  transform: rotate3d(0, 0, 1, 0deg);
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
